body{
    background-color: rgba(72, 6, 194, 0.8)
}

table tr:even{
    background-color: rgba(250,250,250,0.8)
}
.myheader {
    text-align: center;
    background: url(https://705628.smushcdn.com/1146977/wp-content/uploads/2019/09/seagrass.jpg?lossy=1&strip=1&webp=1);
    //background-color: rgba(199, 242, 253, 0.8)
}
.profile-pic{
    border-radius: 50%;
}
